* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Archivo", sans-serif;
	line-height: 1.6;
	color: #1b1b1b;
	letter-spacing: 0.5px;
	;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-family: "Chakra Petch", sans-serif;
	margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Archivo", sans-serif;
	margin: 0;

}

a {
	text-decoration: none;
	color: #0a044b;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.logo_contact {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lp-header {
	position: absolute;
	top: 15px;
	left: 0;
	width: 100%;
	z-index: 99;
}

.logo_contact a {
	color: #fff;
	background: transparent;
	border-radius: 8px;
	border: 1px solid #FFF;
	display: flex;
	padding: 11px 30px;
	align-items: flex-end;
	gap: 2px;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.logo_contact a:hover {
	background: #ff6035;
	color: #fff;
	border-color: #ff6035;
}

.banner_lp_content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.banner_inr {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner_left h1 {
	color: #FFF;
	font-size: 55px;
	font-style: normal;
	font-weight: 500;
	line-height: 55px;
}

.banner_left h1 span {
	color: #FF6035;
}

.banner_left {
	min-width: 40%;
	max-width: 40%;
	width: 40%;
}

.banner_right {
	min-width: 60%;
	max-width: 60%;
	width: 60%;
}

.banner_left p {
	color: #FFF;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	margin: 45px 0 0 0;
}

#banner_form {
	width: 416px;
	margin-left: auto;
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.21);
	background: linear-gradient(200deg, rgba(30, 30, 30, 0.34) 0%, rgba(46, 46, 46, 0.34) 87.01%, rgba(30, 30, 30, 0.34) 108.88%);
	backdrop-filter: blur(18.399999618530273px);
	padding: 25px;
}

.btn_custom img {
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.btn_custom:hover img {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

#banner_form h3 {
	color: #FFF;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	margin: 0 0 15px 0;
}

.form-box .form-group .form-control,
.form-box .form-group .form-select {
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.21);
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	padding: 13px 0;
	color: rgba(255, 255, 255, 0.62);
	font-family: Archivo;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 22px;
	outline: none;
	box-shadow: none;
}

.form-box .form-group {
	margin-bottom: 17px
}

.form-box .form-group .form-control::placeholder {
	color: rgba(255, 255, 255, 0.62);
	font-family: Archivo;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 22px;
}

.form-box .btn_custom {
	color: #FFF;
	font-family: Archivo;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 100%;
	border-radius: 8px;
	background: #FF6035;
	display: flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 2px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	gap: 5px;
	border: none;
	margin: 40px 0 0 0;
}

.banner_point {
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	bottom: 0;
	z-index: 999;
	width: 100%;
}

.banner_point ul {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}

.banner_point ul li {
	color: #fff;
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 15px;
	padding: 15px 0;
}

.baner_point_slider .pointers {
	color: #fff;
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 15px;
	padding: 15px 0;
}

.baner_point_mobile {
	display: none;
}

.trusted_logo {
	border: 1px solid rgba(128, 128, 128, 0.23);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.trusted_logo img {
	width: 100%;
}

.title_small {
	color: #282425;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.title_big {
	color: #282425;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.key_feature_box {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: space-between;
}

.key_feature_box_item {
	background: url(../images/key_grad.svg) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px;
	width: 48%;
}

.key_feature_box_item img {
	width: 60px;
	height: 60px;
	margin: 0 0 20px 0;
}

.key_feature_box_item h3 {
	color: #282425;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px;
}

.key_feature_box_item p {
	color: #282425;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	margin: 16px 0 0 0;
}

.key_single {
	width: 100%;
	overflow: hidden;
	padding: 0px 0 0 60px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.enterprises_sec .btn_custom {
	border-radius: 8px;
	background: #FF6035;
	display: flex;
	width: 242px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 2px;
	color: #fff;
	margin: 37px 0 0 0;
}

.eleminting_solution_sec {
	border: 1px solid rgba(255, 255, 255, 0.16);
	background: #1E1E1E url(../images/ele_grad.svg) 0 0 no-repeat;
	backdrop-filter: blur(26.950000762939453px);
	background-size: cover;
	background-position: center top;
}

.ele_box {
	background: url(../images/ele_box.svg) 0 0 no-repeat;
	background-size: 100% 100%;
	padding: 30px;
	border-radius: 5px;
	height: 296px;
}

.ele_box h3 {
	color: #FFF;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px;
}

.ele_box p {
	color: #D3D3D3;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	margin: 16px 0 0 0;
}

.ele_box img {
	width: 60px;
	height: 60px;
	margin: 0 0 27px 0;
}

.next_befits {
	display: flex;
}

.next_befits .btn-slider {
	position: unset;
	margin: 0;
}

.befits_box {
	background: url(../images/befits_bg.svg) 0 0 no-repeat;
	background-size: cover;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
	background-position: center center;
	height: 189px;
}

.befits_box p {
	color: #282425;
	text-align: center;
	font-family: Archivo;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px;
	margin: 17px 0 0 0;
}

.next_befits .btn-slider {
	width: 45px;
	height: 45px;
	border: 1px solid #000;
	border-radius: 50%;
}

.next_befits .btn-slider::after {
	display: none;
}

#desktop_benfits {
	display: none;
	justify-content: center;
	gap: 12px;
	margin: 25px 0 0 0;
}

#mobile_benfits {
	gap: 10px;
}

.why_stand_inr {
	display: flex;
	align-items: center;
	gap: 186px;
	justify-content: center;
}

.why_stand_contant {
	min-width: 44%;
	max-width: 44%;
	width: 44%;
}

.why_stand_image {
	min-width: 41%;
	width: 41%;
	max-width: 41%;
}

.why_stand_image figure img {
	width: 100%;
}


#whyWeStandOutAccordion .accordion-item {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #cfcfcf;
	padding: 9px 0;
	background: transparent;
}

#whyWeStandOutAccordion .accordion-item .accordion-button.collapsed {
	background: transparent;
	padding: 12px 0;
	font-size: 18px;
	color: #b3b3b3;
	border: none;
	box-shadow: none;
	outline: none;

}

#whyWeStandOutAccordion .accordion-item .accordion-button {
	background: transparent;
	padding: 12px 0;
	font-size: 18px;
	color: #FF6035;
	border: none;
	box-shadow: none;
	outline: none;
}

#whyWeStandOutAccordion .accordion-body {
	padding: 10px 0;
}

#whyWeStandOutAccordion .accordion-body p {
	color: #626E70;
}

.why_stand .btn_custom {
	border-radius: 8px;
	background: #FF6035;
	display: flex;
	width: 265px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 2px;
	color: #fff;
	margin: 37px 0 0 0;
}

.testimonials_sec_box {
	background: url(../images/tst_bg.svg) 0 0 no-repeat;
	background-size: cover;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
	background-position: center center;
	/* height: 189px; */
}

.tst_box {
	max-width: 790px;
	margin: 0 auto;
}

.tst_box p {
	color: #282425;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
}

.tst_box h6 {
	color: #FF6035;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
}

.tst_box span {
	color: #696969;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	display: block;
}

.testimonials_slider .next_befits {
	position: absolute;
	top: 0;
	width: 100%;
	justify-content: space-between;
}

.about_plenum_tech {
	border: 1px solid rgba(255, 255, 255, 0.16);
	background: #1E1E1E url(../images/ele_grad.svg) 0 0 no-repeat;
	backdrop-filter: blur(26.950000762939453px);
	background-size: cover;
	background-position: center top;
}

.about_plenum_tech_content_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about_content_box_content {
	min-width: 40%;
	width: 40%;
	max-width: 40%;
}

.about_content_box_video {
	min-width: 57%;
	width: 57%;
	max-width: 57%;
}

.about_content_box_video video {
	width: 100%;
}

.about_content_box_video figure {
	border-radius: 14px;
	background: #272727;
	padding: 21px 27px;
	margin: 0;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
}

.about_content_box_video figure video {
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
}

.about_content_box_content p {
	color: #D3D3D3;
	font-family: Archivo;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	margin: 23px 0 0 0;
}

.about_content_box_content img {
	height: 285px;
	margin-bottom: 75px;
}

#faqsAccordion {
	max-width: 955px;
	margin: 0 auto;
	width: 100%;
}

#faqsAccordion .accordion-item {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(40, 36, 37, 1);
	padding: 9px 0;
	background: transparent;
}

#faqsAccordion .accordion-item .accordion-button.collapsed {
	background: transparent;
	padding: 12px 0;
	font-size: 18px;
	color: rgba(40, 36, 37, 1);
	border: none;
	box-shadow: none;
	outline: none;

}

#faqsAccordion .accordion-item .accordion-button {
	background: transparent;
	padding: 12px 0;
	font-size: 18px;
	color: #FF6035;
	border: none;
	box-shadow: none;
	outline: none;
}

#faqsAccordion .accordion-body {
	padding: 10px 0;
}

#faqsAccordion .accordion-body p {
	color: #626E70;
}

.faqs_sec {
	/* background: radial-gradient( 89.04% 69.97% at 54.06% 49.82%, #EEE 13.94%, #FFF 100% ); */
	background: #EEE url(../images/faq_bg.svg) 0 0 no-repeat;
	background-size: 80%;
	background-position: left top;
}

#free_demo_header {
	display: none;
}

.key_feature_mobile,
.elemin_mobile {
	display: none;
}

.modal-header {
	padding: 0;
	border: none;
}

#modal_form h5 {
	text-align: center;
	margin: 0 0 30px 0;
	font-size: 24px;
}

#modal_form .d-flex .mb-3 {
	width: 100%;
}

#modal_form .d-flex {
	gap: 15px;
}

#modal_form {
	padding: 15px 35px 35px 35px;
}

#modal_form.form-box .btn_custom {
	width: 250px;
	margin: 27px auto 0;
}

.form-box .mb-3 .form-control,
.form-box .mb-3 .form-select {
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(10, 10, 10, 0.21);
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	padding: 13px 0;
	color: rgba(0, 0, 0, 0.62);
	font-family: Archivo;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 22px;
	outline: none;
	box-shadow: none;
}

#getStartedModal .btn-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e5e5e5;
	opacity: 1;
	border-radius: 50%;
	outline: none;
	box-shadow: none;
	z-index: 9;
}

.thank_body_inr {
	max-width: 46%;
	margin: 10% auto;
	padding: 50px;
	border: 1px dashed #c2c2c2;
	text-align: center;
}

@media screen and (min-width: 1280px) and (max-width: 1400px) {
	.banner_left h1 {
		font-size: 47px;
		line-height: 47px;
	}

	#banner_form h3 {
		font-size: 17px;
		line-height: 24px;
		margin: 0 0 5px 0;
	}

	.banner_left p {
		font-size: 15px;
		line-height: 21px;
		margin: 40px 0 0 0;
	}

	.key_feature_box_item {
		width: 47%;
	}

	.key_single {
		padding: 0;
	}

	.title_big {
		font-size: 40px;
	}

	.ele_box h3 {
		font-size: 16px;
		line-height: 22px;
	}

	.ele_box {
		background-size: cover;
		background-position: center center;
		overflow: hidden;
	}
}

@media screen and (min-width: 1199px) and (max-width: 1280px) {
	.banner_left h1 {
		font-size: 39px;
		line-height: 39px;
	}

	#banner_form h3 {
		font-size: 17px;
		line-height: 24px;
		margin: 0 0 5px 0;
	}

	.banner_left p {
		font-size: 12px;
		line-height: 21px;
		margin: 40px 0 0 0;
	}

	.key_feature_box_item {
		width: 47%;
	}

	.key_single {
		padding: 0;
	}

	.title_big {
		font-size: 40px;
	}

	.ele_box h3 {
		font-size: 16px;
		line-height: 22px;
	}

	.ele_box {
		background-size: cover;
		background-position: center center;
		overflow: hidden;
	}

	.form-box .form-group {
		margin-bottom: 0;
	}

	.banner_point ul li {
		font-size: 12px;
	}
}

@media(max-width: 767px) {

	/* pages */
	.banner_right {
		display: none;
	}

	#contact_header {
		display: none;
	}

	#free_demo_header {
		display: flex;
		background: #ff6035;
		border-color: #ff6035;
		padding: 10px 12px;
		font-size: 14px;
	}

	.banner_left {
		min-width: 100%;
		max-width: 100%;
		width: 100%;
	}

	.banner_lp_content {
		align-items: flex-start;
		padding: 137px 0 0 0;
	}

	.banner-list {
		display: none !important;
	}

	.baner_point_mobile {
		display: block;
	}

	.banner_left h1 {
		font-size: 40px;
		line-height: 40px;
	}

	.banner_left p {
		font-size: 15px;
		line-height: 1.2;
		margin: 35px 0 0 0;
	}

	.banner_left p br {
		display: none;
	}

	.baner_point_slider .pointers {
		font-size: 13px;
	}

	.title_big {
		font-size: 27px;
	}

	.key_feature_box,
	.ele_row_mobile {
		display: none;
	}

	.key_feature_mobile,
	.elemin_mobile {
		display: block;
	}

	.key_feature_mobile .key_feature_box_item {
		width: 100%;
	}

	.key_single {
		padding: 0;
		margin: 25px 0 0 0;
	}

	.col-md-6.order_2 {
		order: 2;
	}

	.enterprises_sec .btn_custom {
		margin: 35px auto 0;
	}

	.enterprises_sec.keyfeat_sec.pt-5.pb-5 {
		padding-top: 0 !important;
	}

	.ele_box {
		background-size: cover;
		height: auto;
		background-position: center center;
	}

	#mobile_benfits {
		display: none;
	}

	#desktop_benfits {
		display: flex;
	}

	.why_stand_inr {
		display: block;
	}

	.why_stand_contant {
		min-width: 100%;
		max-width: 100%;
		width: 100%;
	}

	.why_stand_image {
		min-width: 100%;
		width: 100%;
		max-width: 100%;
		margin: 35px 0 0 0;
	}

	.why_stand .btn_custom {
		width: 250px;
		padding: 16px 20px;
		margin: 35px auto 0;
	}

	.testimonials_sec.pt-5.pb-5 {
		padding-top: 0 !important;
	}

	.testimonials_slider .next_befits {
		position: unset;
		justify-content: center;
		gap: 11px;
		margin: 25px 0 0 0;
	}

	.about_plenum_tech_content_box {
		display: block;
	}

	.about_content_box_content {
		min-width: 100%;
		width: 100%;
		max-width: 100%;
	}

	.about_content_box_content .title_big {
		font-size: 25px;
	}

	.about_content_box_video {
		min-width: 100%;
		width: 100%;
		max-width: 100%;
		margin: 35px 0 0 0;
	}

	.about_content_box_video figure {
		padding: 15px;
	}

	.testimonials_sec_box .title_big.mb-5.text-center {
		margin-bottom: 15px !important;
	}

	.elemina_slider_mobile .swiper-pagination {
		position: unset;
	}

	.pagination_one {
		display: flex;
	}

	.pagination_one {
		display: flex;
		justify-content: center;
		margin: 25px 0 0 0;
	}

	.elemina_slider_mobile .swiper-pagination {
		position: unset;
		width: auto;
		padding: 5px;
		background: rgba(255, 255, 255, 0.11);
		border-radius: 35px;
	}

	.elemina_slider_mobile .swiper-pagination-bullet.swiper-pagination-bullet-active {
		background: rgba(255, 96, 53, 1);
	}

	.elemina_slider_mobile .swiper-pagination-bullet {
		background: rgba(255, 255, 255, 0.6);
	}

	.pagination_one .swiper-pagination {
		position: unset;
		width: auto;
		padding: 5px;
		background: rgba(255, 255, 255, 0.11);
		border-radius: 35px;
	}

	.pagination_one .swiper-pagination-bullet.swiper-pagination-bullet-active {
		background: rgba(255, 96, 53, 1);
	}

	.pagination_one .swiper-pagination-bullet {
		background: rgba(255, 97, 53, 0.4);
	}

	.why_stand {
		padding-top: 0 !important;
	}

	.why_stand_contant .title_big {
		margin-bottom: 20px !important;
	}

	.title_small {
		font-size: 23px;
		line-height: 1.3;
	}

	.benfits_pay_sec .title_big {
		text-align: center;
	}

	.befits_box {
		height: 169px;
		padding: 15px;
	}

	.befits_box p {
		font-size: 15px;
		line-height: 1.3;
	}

	.eleminting_solution_sec {
		background: #1E1E1E url(../images/ele_mobile_bg.png) 0 0 no-repeat;
		background-size: cover;
		background-position: center left;
	}

	.thank_body_inr {
		max-width: 100%;
	}
}

@media(max-width: 575px) {
	#modal_form .d-flex {
		gap: 15px;
		display: block !important;
	}

	#modal_form {
		padding: 35px 20px 20px 20px;
	}

	#modal_form h5 {
		text-align: center;
		margin: 0 0 20px 0;
		font-size: 20px;
	}
}

@media(max-width: 414px) {
	.banner_lp_content {
		padding: 100px 0 0 0;
	}

	.banner_left h1 {
		font-size: 32px;
		line-height: 35px;
	}

	.banner_left p {
		margin: 20px 0 0 0;
	}

	h2.title_big.mb-5 {
		margin-bottom: 30px !important;
	}

}